%h1= t 'setup.header'
%h3= t 'views.install.oauth.sub_header'
%p= t 'views.install.oauth.description'
= bootstrap_form_for @provider, url: install_oauth_path do |u|
  = hidden_field_tag :redirect, url_for(action: :configure)
  = u.hidden_field :authorize_uri_base, value: 'https://github.com/login/oauth/authorize'
  = u.hidden_field :token_uri_base, value: 'https://github.com/login/oauth/access_token'
  = u.hidden_field :requested_scopes, value: 'user:email,read:org'
  = u.select :name, 'GitHub' => :github
  = u.text_field :client_id, label: t('views.install.oauth.client_id')
  = u.password_field :client_secret, label: t('views.install.oauth.client_secret')
  = u.submit t 'views.install.oauth.create'
