%h1= t 'setup.header'
%h3= t 'setup.sub_header'
%p= t 'setup.description'
= bootstrap_form_for :user do |u|
  = u.text_field :first_name, placeholder: t('account.first_name')
  = u.text_field :last_name, placeholder: t('account.last_name')
  = u.email_field :email, placeholder: t('account.username')
  = u.password_field :password, placeholder: t('account.password')
  = u.password_field :password_confirm, placeholder: t('account.confirm_password')
  = hidden_field_tag :redirect, url_for(action: :configure)
  = u.submit t('account.create')