%h3 Node Status
- bad_count = @node_status.count { |n| !n.valid? }
- if bad_count >= 1
  %div.bg-warning There #{'is'.pluralize bad_count} currently inconsistent #{pluralize bad_count, 'node'}.
  - if @service.deployable?
    %p= link_to 'Attempt to fix', deploy_service_path
%table
  %thead
    %tr
      %td Hostname
      %td Status
      %td Last checked
  %tbody
    - @node_status.each do |node|
      %tr
        %td= node.hostname
        %td<
          - if node.valid?
            Deployed
          - elsif node.exists?
            Invalid
          - else
            Not deployed
        %td #{time_ago_in_words node.updated_at} ago
