%ol.breadcrumb
  %li= link_to 'Services', action: :index
  %li= link_to @service.certificate, service_path
  %li.active= t 'operations.edit'
%h2 Edit #{@service.certificate}
= bootstrap_form_for @service, layout: :horizontal do |f|
  - if @service.is_a? Service::SoteriaAgent
    = render partial: 'edit_agent', locals: { f: f, service: @service }
  - else
    - @service.class.service_props.each do |prop|
      = f.text_field prop
  = f.submit
