- page_title 'New Service'
%ol.breadcrumb
  %li= link_to 'Services', action: :index
  %li.active New
%h2 Create service
.col-md-6
  = render partial: 'services/new_service_form', locals: { service: @service }
.col-md-6
  %h3= t 'views.services.new.deploy_plan.header'
  %p= t 'views.services.new.deploy_plan.help'
  = react_component 'pages/services/new/ServicesNewOverview', { certificateSelectId: 'service_certificate_id' }, prerender: true, data: { react_mount: true }
