- page_title "#{@service.certificate} Service"

%ol.breadcrumb
  %li= link_to 'Services', services_path
  %li.active= @service.certificate

= render partial: 'services/show/settings_pane'
%h1= @service.certificate
= render partial: 'services/show/service_status', locals: { node_status: @node_status }
