- page_title "#{@service.certificate} Service"

%ol.breadcrumb
  %li= link_to 'Services', services_path
  %li.active= @service.certificate

= render partial: 'services/show/settings_pane'
%h1= @service.certificate
- if @service.deployable? && @service.last_deployed
  %p
    %span= t 'views.services.show.last_deployed'
    = time_ago_enhanced_block @service.last_deployed

- if @service.push_deployable?
  = link_to 'Deploy', deploy_service_path(service: @service)
- if @service.is_a? Service::Rancher
  = render partial: 'services/show/rancher_status', locals: { service: @service }
- else
  = render partial: 'services/show/service_status', locals: { node_status: @node_status }
