%ol.breadcrumb
  %li= link_to 'Services', action: :index
  %li.active= @service.certificate
- content_for :title do
  #{@service.certificate} Service
%h1= @service.certificate
%aside.pull-right
  %ul.aside-menu-list
    %li= link_to 'Edit', edit_service_path
    - if @service.deployable?
      %li= link_to 'Deploy certificate', action: :deploy
    %li
      = form_tag service_path, method: :delete do
        = submit_tag 'Delete', class: 'btn-link'
= render partial: 'service_status'
