- content_for :head do
  %link{ href: "https://#{@provider.base_domain}", rel: 'preconnect' }
.row.vertical-center.modal-centered-form{ role: :main }
  .login-form-container.col-sm-12.col-lg-4.well.well-lg.center-block
    %h1= t 'views.sessions.new.header'
    %p= t 'views.sessions.new.description'
    - if @error_message
      .label-danger= @error_message
    .form-group
      %a.btn.center-block.btn-info{ href: oauth_login_path(provider: @provider.name), rel: 'nofollow' }= t 'views.sessions.new.oauth_providers.github'
