%h2 Your certificates
%table.table.table-striped
  %thead
    %tr
      %td Id
      %td Common Name
      %td Status
      %td Has Private Key
      %td Has Certificate
  %tbody
    - @certs.each do |cert|
      %tr
        %td= link_to cert.id, cert
        %td= link_to cert.common_name, cert
        %td= cert.status
        %td= cert.private_key_data.present?
        %td= cert.public_key.present?