%h1 Certificates
%ul
  %li #{pluralize @certs.count, 'total certificate'}
  %li #{pluralize @expiring.count, 'certificate'} expiring in the next 30 days
  %li #{pluralize @bad_hashes.count, 'certificate'} with insecure hash algorithms
.col-md-3
  %table.table.table-condensed
    %thead
      %tr
        %td Hash
        %td Count
    %tbody
      - @by_hash.count.each do |k, v|
        %tr
          %td= k
          %td= v