- unless @attempt.status_complete?
  - content_for :head do
    %meta{ content: 5, http: { equiv: 'refresh' } }
- status = t "models.acme_sign_attempt.status.#{@attempt.status}"
- page_title t 'views.lets_encrypt.import_status.page_title', status: status, cert: @attempt.certificate.to_s
%ol.breadcrumb
  %li= link_to @attempt.certificate, @attempt.certificate
  %li.active= t 'views.lets_encrypt.import_status.header'
%h1 ACME Certificate Import
= render partial: 'status_bar'
= render partial: 'status'
= render partial: 'domain_status_table'
- if @attempt.imported_key_id
  %div Your certificate has been successfully imported!
  = link_to 'Show', @attempt.certificate
- unless @attempt.status_complete?
  %div (Auto refreshes every 5 seconds)
