%h3 Node Status
- bad_count = node_status.count { |n| !n.valid? }
- if bad_count >= 1
  .bg-warning There #{'is'.pluralize bad_count} currently #{pluralize bad_count, 'inconsistent node'}.
%table.table
  %thead
    %tr
      %td= t 'views.services.show.table_headers.hostname'
      %td= t 'views.services.show.table_headers.status'
      %td= t 'views.services.show.table_headers.last_checked'
  %tbody
    - node_status.each do |node|
      %tr{ class: to_css_class(node.status, failed: 'bg-danger', valid: 'bg-success') }
        %td= node.hostname
        %td
          %div= t "views.services.show.statuses.#{node.status}"
          - if node.status.failed?
            %div= node.reason['message']
        %td= time_ago_enhanced_block node.updated_at
