%h2= t 'views.users.index.authorization_block.header'
%table.table.table-striped
  %tbody
    - @auths.each do |auth|
      %tr
        %td.img-sm
          %img.img-sm{ src: auth.display_image }
        %td
          %a{ href: auth.url, rel: 'noopener', target: '_blank' }= auth.display_name
        %td
          = form_for auth, method: :delete do |f|
            = f.submit 'Revoke', class: 'btn-link'
    %tr
      %td{ colspan: 3 }
        = form_for Authorization.new do |f|
          = f.hidden_field :o_auth_provider_id, value: OAuthProvider.github.id
          = f.text_field :identifier, class: 'form-control', placeholder: t('views.users.index.authorization_block.add_new')
