.panel.panel-primary
  .panel-heading Profile
  .panel-body
    = bootstrap_form_for @user, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9' do |f|
      = f.hidden_field :patch_target, value: :password
      = f.text_field :first_name
      = f.text_field :last_name
      = f.email_field :email
      - if @user.github_username
        = f.text_field :github_username, readonly: true
      = f.select :time_zone, User::TIME_ZONES
      = f.submit 'Update profile', class: 'btn center-block'
