%h1 Activate account
%h4= @user
.row.center-block
  .col-md-6
    .panel.panel-primary
      .panel-heading Password setup
      .panel-body
        = bootstrap_form_for @user, url: url_for(action: :update), layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9' do |f|
          - if @message
            %p= @message
          = f.hidden_field :confirmation_token_confirmation
          = f.password_field :password, placeholder: (t 'account.password')
          = f.password_field :password_confirmation
          = f.submit 'Activate account', class: 'btn btn-primary center-block'