%h2= t 'users.new'
%p An email with a link to reset their password will be sent to the given email address
= form_tag url_for(action: :create), class: 'form-horizontal' do
  .form-group
    = label :user, :first_name, (t 'account.first_name'), class: 'col-sm-2 control-label'
    .col-sm-10
      = text_field :user, :first_name, placeholder: (t 'account.first_name'), class: 'form-control'
  .form-group
    = label :user, :last_name, (t 'account.last_name'), class: 'col-sm-2 control-label'
    .col-sm-10
      = text_field :user, :last_name, placeholder: (t 'account.last_name'), class: 'form-control'
  .form-group
    = label :user, :email, (t 'account.username'), class: 'col-sm-2 control-label'
    .col-sm-10
      = email_field :user, :email, placeholder: (t 'account.username'), class: 'form-control'
  .form-group
    = label_tag nil, 'Permissions', class: 'col-sm-2 control-label'
    .col-sm-10
      %p De nada
  .form-group
    .col-sm-2
    .col-sm-10
      = submit_tag