- content_for :title do
  = @user
%ol.breadcrumb
  %li= link_to 'Users', users_path
  %li= @user
%h2= @user
.row
  .col-md-6
    = render partial: 'profile_info_block'
  .col-md-6
    = render partial: 'account_status_block'
