%h3= t 'views.csr.show.header'
%div
  %h4= t 'views.csr.show.step1.header'
  %h5= t 'views.csr.show.step1.message'
  = render partial: 'csr/info', locals: { csr: @csr }
  %h4= t 'views.csr.show.step2.header'
  %p= t 'views.csr.show.step2.message'
  %textarea.form-control.certificate.cert-body{ readonly: true }= @csr.to_pem
  %h4= t 'views.csr.show.step3.header'
  %p= t 'views.csr.show.step3.message'
  = bootstrap_form_tag url: url_for(action: :import) do |f|
    = react_component 'CertificateImportContainer', {}, prerender: true, data: { react_mount: true }
    = f.submit t('operations.import')
