%h3= t 'views.csr.show.header'
%div
  %h4= t 'views.csr.show.step1.header'
  %h5= t 'views.csr.show.step1.message'
  = render partial: 'csr/info'
  %h4= t 'views.csr.show.step2.header'
  %p= t 'views.csr.show.step2.message'
  %textarea.form-control.certificate.cert-body{ readonly: true }= @csr.to_pem
  %h4= t 'views.csr.show.step3.header'
  %p= t 'views.csr.show.step3.message'
  = bootstrap_form_tag url: url_for(action: :import) do |f|
    = f.fields_for :certificate do |c|
      = c.text_area :key, label: 'Certificate chain', class: 'certificate'
    = f.submit t('operations.import')
