.row.vertical-center.modal-centered-form
  .login-form-container.col-sm-12.col-lg-4.well.well-lg.center-block
    %h1 Recover account
    %p Enter a new password below.
    .form-error-message
      - if @error_message
        = t "login.error.#{@error_message}"
      - else
        &nbsp;
    = form_for @user, url: url_for(action: :recover), method: :post, class: 'login-form form-horizontal' do |f|
      = f.hidden_field :reset_password_token
      .form-group
        %div.text-center= @user.to_s
      .form-group{class: ('has-error' if @error_message)}
        = f.password_field :password, autofocus: true, placeholder: (t 'account.password'), tabindex: 1, class: 'form-control'
      .form-group{class: ('has-error' if @error_message)}
        = f.password_field :password_confirmation, placeholder: (t 'account.password'), tabindex: 2, class: 'form-control'
      .form-group
        %input.btn.btn-large.btn-block.btn-warning{type: :submit, tabindex: 3, value: 'Change password'}