%h1= t 'signing.lets_encrypt.header'
%p= link_to t('signing.lets_encrypt.terms'), 'https://letsencrypt.org/documents/LE-SA-v1.0.1-July-27-2015.pdf'
%h3 Step 1.
%h3 Your Client info
%h5 Client key
= form_tag register_certificate_path do
  = select_tag :client_key, options_for_select(@keys.collect { |p| [p.id, p.id]})
  = check_box_tag :terms_agree
  = label_tag :terms_agree, 'I agree to the Lets Encrypt terms'
  = submit_tag 'Register'