%h1= @service.certificate
- if @service.deployable?
  = link_to 'Deploy certificate', action: :deploy
- else
  Can't be deployed until the #{link_to 'certificate', @service.certificate} has been signed
%h5 Certificate path
%pre= @service.cert_path
%h5 Post deployment script:
%pre= @service.after_rotate
%h5 Node Status
%table
  %thead
    %tr
      %td Hostname
      %td Status
      %td Last checked
  %tbody
    - @service.node_status do |minion, status|
      %tr{class: if status['exists'] and status['valid'] then 'bg-success' elsif status['exists'] then 'bg-warning' else 'bg-danger' end}
        %td= minion
        %td<
          - if status['exists'] and status['valid']
            Online
          - elsif status['exists']
            Invalid
          - else
            Not deployed
        %td #{time_ago_in_words status['update']} ago