%h1= @service.certificate
- if @service.deployable?
  = link_to 'Deploy certificate', action: :deploy
- else
  Can't be deployed until the #{link_to 'certificate', @service.certificate} has been signed
%h5 Certificate path
%pre= @service.cert_path
%h5 Post deployment script:
%pre= @service.after_rotate