%table.table.table-condensed
  %tbody
    = cert_show_validate_result public_key.not_before < Time.now, 'Valid from' do
      - public_key.not_before.to_s :long
    = cert_show_validate_result public_key.not_after > Time.now, 'Valid from' do
      - public_key.not_after.to_s :long
    - if public_key.bit_length
      = cert_show_validate_policy(:bit_length, public_key.bit_length, 'Bit Length') do
        - "#{public_key.bit_length} bits"
    - hash_algo = public_key.hash_algorithm
    = cert_show_validate_policy(:hash_algorithm, hash_algo, t('attributes.hash_algorithm')) do
      - t "hash.#{hash_algo}"
    %tr
      %td Subject Alternate Names
      %td= public_key.subject_alternate_names
