- content_for :title do
  = @cert.subject
%ol.breadcrumb
  = cert_chain_tree(@cert) do |cert|
    - if cert == @cert
      %li{class: 'active'}= cert
    - else
      %li= link_to cert, cert
%h1= @cert.subject.CN
= render partial: 'validity_bar', locals: {cert: @cert}
%h4 Quick check
%ul
  - if @cert.can_sign?
    %li Can sign other certificates
  - else
    %li Can't sign other certificates
  - if @cert.expired?
    %li Expired
%aside
  %ul
    %li= link_to 'Show certificate (PEM)', format: :pem
    %li #{link_to 'Certificate chain', certificate_path(chain: true)} #{link_to '(PEM)', certificate_path(chain: true, format: :pem)}
    - if @cert.private_key
      %li= link_to 'Renew', action: :csr
    %li #{link_to "#{pluralize @cert.sub_certificates.count, 'child'}", action: :index, issuer: @cert.id}
= render partial: 'validator', locals: {public_key: @cert.public_key}
%h2 Audit Log
= render partial: 'audit_log', locals: {event_log: @cert.public_keys}
%h2 Services
- if @cert.services.any?
  %ul
    - @cert.services.each do |service|
      %li= link_to service, service
- else
  %p no services yet. A service allows you to securely deploy this certificate to a host
  = link_to 'Create a service', controller: :services, action: :new, cert_id: @cert.id
