%head
  %title= page_title
  %meta{ charset: 'utf-8' }
  %meta{ content: 'IE=edge', http: { equiv: 'X-UA-Compatible' } }
  %meta{ content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0', name: 'viewport' }
  - if content_for? :head
    = yield :head
  - if user_signed_in?
    %meta{ content: request_forgery_protection_token, name: 'csrf-param' }
    %meta{ content: form_authenticity_token, name: 'csrf-token' }
    - if ENV.key? 'SENTRY_DSN'
      %meta{ content: Rails.application.config.sentry_public_dsn, name: 'sentry-report-uri' }
      %meta{ content: current_user.id, name: 'user-id' }
    %link{ rel: 'search', type: 'application/opensearchdescription+xml', href: search_manifest_path(format: :xml), title: 'soteria' }
    = javascript_pack_tag 'application', defer: true
    = javascript_include_tag 'application', defer: true
    - if Rails.configuration.tracing_enabled
      %meta{ content: Rails.configuration.trace_endpoint, name: 'trace-agent' }
      %meta{ content: RequestStore.store[:web_trace], name: 'opencensus-traceparent' }
  = stylesheet_link_tag 'application', media: 'all'
