!!!
%html
  %head
    %title CertManager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{data: {page: [controller_name.capitalize, action_name.capitalize].join}}
    %header.navbar.navbar-static-top
      .container
        .navbar-header
          = link_to 'Certificates', root_path, class: 'navbar-brand'
        %nav
          %ul.nav.navbar-nav
            %li= link_to 'New', controller: :certificate, action: :new
            %li= link_to 'Import', controller: :certificate, action: :import
    .container
      = yield